
<html>
  <head>
    <title>Josh Nichols Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
  <nav role="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Josh Nichols</a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <% if current_user %>
      <ul class ="nav navbar-nav navbar-right ">
        <li><p class ="navbar-text">Signed in as: <%= current_user.username %> | <%= link_to "logout", logout_path, method: "delete", class: "navbar-link"%></li>
      </ul>
          <%end%>


      <ul class="nav navbar-nav">
        <li <% if current_page?("/") %>class="active"<%end%> ><%=  link_to "Home", root_path %></li>
          <li <% if current_page?("/about")%>class="active"<%end%> > <%= link_to "About", '/about' %> </li>
        <li <% if current_page?("/resume")%>class="active"<%end%> ><%= link_to "Resume", '/resume' %> </li>
        <li <% if current_page?("/blog") %>class="active"<%end%>><%= link_to "Blog", '/blog' %> </li>
        <li <% if current_page?("/classes") %>class="active"<%end%>><%= link_to "Classes", '/classes', class: "navsplit-before"%> </li>
        <li <% if current_page?("/classes") %>class="active"<%end%>>
          <a href="#l" class="dropdown-toggle navsplit-after hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% project_group_list.each do |p| %>
            <li><%= link_to p.title, project_group_path(p) %></li>
            <%end%>
          </ul>
      </ul>

    </div>
  </nav>

  <%= yield %>
  <footer>
    <div class="container-fluid">
      <div class="col-sm-3">
        <h4>info</h4>
        <span class="text-muted small-text">&copy;2016 Josh Nichols, All Rights reserved.<br>
          If you have any questions or concerns, please email me <a href="mailto:josh.nichols.lives@gmail.com">here.</a></span>
      </div>
      <div class="col-md-7 hidden-xs">
      </div>
      <div class="col-xs-2">
        <div class="row">
          <h4 class="hidden-xs">Find me on social media!</h4>
        </div>
        <div class="row hidden-xs hidden-sm">
          <a href="https://twitter.com/DaWall147"><%= image_tag  asset_path("twitter-dreamstale71.png") %></a>
          <a href="https://soundcloud.com/jkings454"><%= image_tag asset_path("soundcloud-dreamstale63.png") %> </a>
          <a href="https://github.com/jkings454"><%= image_tag asset_path("github2-dreamstale35.png") %> </a>
        </div>
      </div>
    </div>


  </div>
</footer>
</body>
</html>
